*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


.center {
    background-color: white;
    height: 100%;
    width: 65%;

}

.icon {
    cursor: pointer;
    transition: .3s linear;
}

.icon:hover {
    color: orange;
}
